<section
  id="about-us"
  #aboutUs
  class="relative bg-about md:px-12 lg:px-24 lg:h-[100vh] xl:h-[110vh] 2xl:h-[80vh] overflow-hidden flex flex-col justify-center">
  <img
    src="./assets/img/bg-layout-3.png"
    alt="Background image"
    class="absolute top-0 right-0 lg:w-[35%] lg:mt-[-8%] xl:w-[35%] xl:mt-[-8%] 2xl:w-[35%] 2xl:mt-[-8%]"
    style="transform: rotate(4deg)" />

  <div class="grid grid-cols-3 relativelg:mt-[10%] xl:mt-[8%] 2xl:mt-[0%]">
    <div>
      <h2
        class="text-4xl md:text-7xl lg:text-4xl xl:text-5xl 2xl:text-7xl font-bold">
        About us
      </h2>
    </div>
    <div class="col-span-2">
      <p class="2xl:text-2xl">
        Our mission is to facilitate trading and collaboration within the
        commodity markets. Our solutions enhance decision-making, performance,
        and security.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-12 relative mt-12">
    <div class="w-full">
      <h2
        class="lg:text-2xl xl:text-3xl 2xl:text-4xl font-bold lg:mb-10 xl:mb-14">
        Get in Touch
      </h2>
      <form>
        <div class="mb-6">
          <input
            type="text"
            placeholder="Name"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 input-style" />
        </div>
        <div class="mb-6">
          <input
            type="email"
            placeholder="Email"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 input-style" />
        </div>
        <div class="mb-6">
          <textarea
            placeholder="Message"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 input-style"></textarea>
        </div>
        <button
          type="submit"
          class="mt-8 xl:mt-12 2xl:mt-16 px-8 py-2 2xl:py-2 border border-white font-bold rounded-full hover:bg-gray-700 text-lg md:text-1xl 2xl:text-2xl text-center mx-auto block"
          aria-label="Send a message to Revert">
          Send Message
        </button>
      </form>
    </div>

    <div class="w-full">
      <p
        class="lg:mt-[20%] xl:mt-[16%] 2xl:mt-24 lg:txt-2xl xl:text-2xl 2xl:text-2xl">
        <strong>Email:</strong> example&#64;revert.com
      </p>
      <p class="lg:mt-10 xl:mt-8 2xl:mt-8 xl:text-2xl 2xl:text-2xl">
        <strong>Phone Number:</strong> 0000000000000
      </p>
      <p class="lg:mt-8 xl:mt-8 2xl:mt-8 xl:text-2xl 2xl:text-2xl">
        <strong>Physical Address:</strong> Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
