<header
  [ngClass]="{
    'bg-transparent': !isScrolled,
    'bg-primary': isScrolled,
  }"
  [ngStyle]="{
    'background-color': 'rgba(21, 21, 21,' + scrollOpacity + ')',
  }"
  class="fixed top-0 w-full z-[100] transition-colors duration-300 ease-in-out px-6 md:px-10 lg:px-20 font-poppins text-custom-lg">
  <div
    class="flex justify-between items-center p-3 md:p-5 lg:border-b-2 lg:border-[#262F1F]">
    <div class="hidden lg:block text-2xl md:text-3xl font-bold">
      <a
        (click)="navigateHome()"
        (keydown.enter)="navigateHome()"
        (keydown.space)="navigateHome()"
        tabindex="0"
        role="button">
        <img
          src="./assets/img/revert.png"
          alt="Revert logo"
          width="180"
          height="54"
          loading="lazy"
          class="md:w-243 md:h-74 lg:w-230 lg:h-68 xl:w-233 xl:h-68 2xl:w-243 2xl:h-74 md:hidden xl:block" />
      </a>
    </div>
    <nav
      class="hidden lg:flex space-x-4 md:space-x-6 lg:space-x-8 items-center">
      <a
        (click)="navigateHome()"
        (keydown.enter)="navigateHome()"
        (keydown.space)="navigateHome()"
        tabindex="0"
        role="button"
        class="text-[18px] md:text-[20px] lg:text-[20px] xl:text-[24px] font-normal leading-[25px] md:leading-[35px] lg:leading-[45px]"
        >{{ 'HEADER.HOME' | translate }}</a
      >
      <div class="relative group">
        <a
          class="text-[18px] md:text-[20px] lg:text-[20px] xl:text-[24px] font-normal leading-[25px] md:leading-[35px] lg:leading-[45px]">
          {{ 'HEADER.MARKETS' | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 inline-block ml-2 transform transition-transform duration-500 group-hover:rotate-180">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7" />
          </svg>
        </a>
        <div
          class="absolute hidden group-hover:block bg-primary-light top-full rounded-[5px] shadow-lg min-w-max whitespace-nowrap z-20">
          <a
            (click)="scrollToSection('marine')"
            (keydown.enter)="scrollToSection('marine')"
            (keydown.space)="scrollToSection('marine')"
            tabindex="3"
            role="button"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.MARINE_FUELS' | translate }}</a
          >
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.FREIGHT' | translate }}</a
          >
        </div>
      </div>
      <div class="relative group">
        <a
          href="#"
          tabindex="2"
          class="text-[18px] md:text-[20px] lg:text-[20px] xl:text-[24px] font-normal leading-[25px] md:leading-[35px] lg:leading-[45px]">
          {{ 'HEADER.OUR_TECH' | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 inline-block ml-2 transform transition-transform duration-500 group-hover:rotate-180">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7" />
          </svg>
        </a>
        <div
          class="absolute hidden group-hover:block bg-primary-light top-full rounded-[5px] shadow-lg min-w-max whitespace-nowrap z-20">
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.INSTANT_MESSAGING' | translate }}</a
          >
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.AI_TRADING_ASSISTANT' | translate }}</a
          >
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.SMART_TEXT_RECOGNITION' | translate }}</a
          >
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.VOICE' | translate }}</a
          >
          <a
            href="#"
            class="block px-4 py-2 hover:bg-[#868686] text-[18px] md:text-[18px] lg:text-[26px] leading-[25px] md:leading-[35px] lg:leading-[45px]"
            >{{ 'HEADER.SOCIAL_FEATURES' | translate }}</a
          >
        </div>
      </div>

      <a
        (click)="scrollToSection('about-us')"
        (keydown.enter)="scrollToSection('about-us')"
        (keydown.space)="scrollToSection('about-us')"
        tabindex="3"
        role="button"
        class="text-[18px] md:text-[22px] lg:text-[20px] xl:text-[24px] font-normal leading-[25px] md:leading-[35px] lg:leading-[45px]"
        >{{ 'HEADER.ABOUT_US' | translate }}</a
      >
      <a
        (click)="scrollToSection('contact')"
        (keydown.enter)="scrollToSection('contact')"
        (keydown.space)="scrollToSection('contact')"
        tabindex="4"
        role="button"
        class="text-[18px] md:text-[22px] lg:text-[20px] xl:text-[24px] font-normal leading-[25px] md:leading-[35px] lg:leading-[45px]"
        >{{ 'HEADER.CONTACT' | translate }}</a
      >
      <div class="flex space-x-3 md:space-x-4">
        <a
          [routerLink]="['/auth/sign-in']"
          class="px-3 md:px-4 py-1 border border-white rounded-full hover:bg-gray-700 text-[18px] md:text-[20px] lg:text-[20px] xl:text-[24px] md:leading-[25px] lg:leading-[30px] xl:leading-[28px] 2xl:leading-[35px]">
          {{ 'HEADER.SIGN_IN' | translate }}
        </a>
        <a
          [routerLink]="['/auth/sign-up']"
          class="px-3 md:px-4 py-1 border border-white rounded-full hover:bg-gray-700 text-[18px] md:text-[20px] lg:text-[20px] xl:text-[24px] md:leading-[25px] lg:leading-[30px] xl:leading-[32px] 2xl:leading-[35px]">
          {{ 'HEADER.SIGN_UP' | translate }}
        </a>
      </div>
    </nav>
    <!-- Mobile Menu -->
    <div class="lg:hidden ml-auto">
      <button (click)="toggleMenu()" class="text-white focus:outline-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-10 h-10">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 5h18M3 12h18M3 19h18" />
        </svg>
      </button>
    </div>
  </div>
</header>

<div
  id="mobile-menu"
  [class.translate-x-full]="isMenuClosed"
  class="fixed top-0 right-0 w-[60%] md:w-[45%] mb-[10%] h-auto bg-primary text-white transform transition-transform duration-300 ease-in-out border-b-2 border-l-2 border-[#262F1F] rounded-l-3xl rounded-bl-[300px] rounded-tl-none z-[1000]">
  <div class="p-4 flex justify-end">
    <button (click)="closeMenu()" class="text-white focus:outline-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="4"
        stroke="currentColor"
        class="w-8 h-8">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="pl-16">
    <h2 class="text-2xl font-bold mb-2">{{ 'HEADER.MENU' | translate }}</h2>
    <nav class="mt-4 space-y-4">
      <a
        (click)="navigateHome()"
        (keydown.enter)="navigateHome()"
        (keydown.space)="navigateHome()"
        tabindex="0"
        role="button"
        class="block flex items-center text-md">
        <span class="w-3 h-3 bg-[#00A8F1] rounded-full inline-block mr-4"></span
        >{{ 'HEADER.HOME' | translate }}
      </a>
      <div>
        <a
          id="markets"
          (click)="toggleMarketsSubMenu()"
          (keydown.enter)="toggleMarketsSubMenu()"
          (keydown.space)="toggleMarketsSubMenu()"
          tabindex="1"
          role="button"
          class="block flex items-center text-md">
          <span
            class="w-3 h-3 bg-[#00A8F1] rounded-full inline-block mr-4"></span
          >{{ 'HEADER.MARKETS' | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 ml-2 transform transition-transform duration-500"
            [ngClass]="{ 'rotate-180': isMarketsSubMenuOpen }">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7" />
          </svg>
        </a>
        <div *ngIf="isMarketsSubMenuOpen" class="ml-6 mt-2 space-y-4">
          <a
            (click)="scrollToSection('marine')"
            (keydown.enter)="scrollToSection('marine')"
            (keydown.space)="scrollToSection('marine')"
            tabindex="3"
            role="button"
            class="block text-sm pl-2">
            <span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.MARINE_FUELS' | translate }}</a
          >
          <a href="#" class="block text-sm pl-2">
            <span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.FREIGHT' | translate }}</a
          >
        </div>
      </div>
      <div>
        <a
          id="our-tech"
          (click)="toggleTechSubMenu()"
          (keydown.enter)="toggleMarketsSubMenu()"
          (keydown.space)="toggleMarketsSubMenu()"
          tabindex="2"
          role="button"
          class="block flex items-center text-md">
          <span
            class="w-3 h-3 bg-[#00A8F1] rounded-full inline-block mr-4"></span
          >{{ 'HEADER.OUR_TECH' | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 ml-2 transform transition-transform duration-500"
            [ngClass]="{ 'rotate-180': isTechSubMenuOpen }">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7" />
          </svg>
        </a>
        <div *ngIf="isTechSubMenuOpen" class="ml-6 mt-2 space-y-4">
          <a href="#" class="block text-sm pl-2"
            ><span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.INSTANT_MESSAGING' | translate }}</a
          >
          <a href="#" class="block text-sm pl-2"
            ><span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.AI_TRADING_ASSISTANT' | translate }}</a
          >
          <a href="#" class="block text-sm pl-2"
            ><span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.SMART_TEXT_RECOGNITION' | translate }}</a
          >
          <a href="#" class="block text-sm pl-2">
            <span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.VOICE' | translate }}
          </a>
          <a href="#" class="block text-sm pl-2"
            ><span
              class="w-1 h-1 bg-[#FFF] rounded-full inline-block mr-2"></span
            >{{ 'HEADER.SOCIAL_FEATURES' | translate }}</a
          >
        </div>
      </div>
      <a
        (click)="scrollToSection('about-us')"
        (keydown.enter)="scrollToSection('about-us')"
        (keydown.space)="scrollToSection('about-us')"
        tabindex="3"
        role="button"
        class="block flex items-center text-md">
        <span class="w-3 h-3 bg-[#00A8F1] rounded-full inline-block mr-4"></span
        >{{ 'HEADER.ABOUT_US' | translate }}
      </a>
      <a
        (click)="scrollToSection('contact')"
        (keydown.enter)="scrollToSection('contact')"
        (keydown.space)="scrollToSection('contact')"
        tabindex="4"
        role="button"
        class="block flex items-center text-md">
        <span class="w-3 h-3 bg-[#00A8F1] rounded-full inline-block mr-4"></span
        >{{ 'HEADER.CONTACT' | translate }}
      </a>
    </nav>
    <div class="mt-16 space-y-4 flex flex-col items-end mr-5 mb-16">
      <a
        [routerLink]="['/auth/sign-in']"
        class="w-[120px] px-3 py-1 border border-white rounded-full hover:bg-gray-700 text-center">
        {{ 'HEADER.SIGN_IN' | translate }}
      </a>
      <a
        [routerLink]="['/auth/sign-up']"
        class="w-[120px] px-3 py-1 border border-white rounded-full hover:bg-gray-700 text-center">
        {{ 'HEADER.SIGN_UP' | translate }}
      </a>
    </div>
  </div>
</div>
