<section
  class="relative bg-primary min-h-screen flex flex-col justify-center items-start text-left px-6 md:px-12 lg:px-24">
  <img
    src="./assets/img/bg-layout.png"
    alt="Background image"
    class="absolute inset-0 w-full lg:h-[640px] lg:mt-[20%] xl:h-[825px] xl:mt-[14%] 2xl:h-[1160px] 2xl:mt-[12%] object-cover" />

  <h1 class="text-7xl md:text-8xl font-bold self-center mb-4 mt-10 relative">
    <img
      src="./assets/img/revert_2.png"
      alt="Revert logo"
      class="md:w-[124px] md:h-[40px] lg:w-[300px] lg:h-[90px] xl:w-[418px] xl:h-[126px] lg:mt-[150px] xl:mt-[120px] 2xl:mt-[80px]" />
  </h1>

  <div class="relative">
    <h1
      class="text-4xl md:text-4xl xl:text-5xl 2xl:text-7xl font-bold lg:mt-20 xl:mt-28 2xl:mt-28">
      Your way, your world - now with greater insights and control
    </h1>
    <p
      class="lg:mt-6 xl:mt-12 2xl:mt-16 text-lg md:text-2xl lg:text-2xl xl:text-2xl 2xl:text-3xl">
      Revert is the collaboration platform of the commodity trading community<br />All
      the perspectives you need, in one place
    </p>
  </div>
  <button
    class="mt-8 xl:mt-12 2xl:mt-16 px-8 py-2 2xl:py-4 border border-white font-bold rounded-full hover:bg-gray-700 text-lg md:text-1xl 2xl:text-2xl"
    aria-label="Learn more about the Revert platform">
    Learn more
  </button>
</section>
