/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #f3f3f3;
    --secondary-color: #151515;
    --tertiary-color: #f3f3f3;
    --quaternary-color: #f3f3f3;
    --quinary-color: #f3f3f3;
    --senary-color: #f3f3f3;
    --septenary-color: #f3f3f3;
    --octonary-color: #f3f3f3;
    --nonary-color: #f3f3f3;
    --denary-color: #f3f3f3;

    --bg-primary-color: #151515;
    --bg-primary-light-color: #1a1a1a;
}

.full-screen {
    height: 100vh;
}

.bg-primary {
    background-color: var(--bg-primary-color);
}

.bg-primary-light {
    background-color: var(--bg-primary-light-color);
}